In [1]:
# modules
import bs4 as bs
from urllib import request

import pandas as pd

## Getting all the links

In [2]:
# get all lists links
# first - manual because it's different
first_link = 'https://www.imdb.com/search/title/?title_type=feature&primary_language=ar'
movies_lists = [first_link]
# generate all list of all urls
## If the results are more than one page, change 3714 to the number of resutls you got 
#n = 51
# while n < 3714:
#     url = f'https://www.imdb.com/search/title/?title_type=feature&primary_language=ar&start={n}&ref_=adv_nxt'
#     movies_lists.append(url)
#     n += 50

In [3]:
"""Downloads the poster, genres of the movies and add them to a dictionary

    Parameters:
    imdb_lists (List): A list of all the urls of the movies in IMDB

    Returns:
    Dictionary: a dictionary with the movie index and genres

   """
def download_list(imdb_lists):
    counter = 1
    data = {}
    for l in imdb_lists:
        print(l)
        # Scraping the page
        src = request.urlopen(l).read()
        soup = bs.BeautifulSoup(src, 'lxml')
        # getting all the divs of movies
        movies_boxes = soup.find_all('div', {'class', 'lister-item mode-advanced'})
        # Get the genres and poster per movie in each box
        for box in movies_boxes:
            movie = box.find('img')
            name = movie['alt']
            print(f'{counter}.{name}')
            counter += 1
            # get the genres
            genres = box.find('span', {'class', 'genre'})
            if genres is None:
                print('Skipped')
                continue
            # Download the image
            request.urlretrieve(movie['loadlate'], f'images/{counter}.jpg')
            genres = genres.text[1:].strip()
            # add it to the data dictionary
            data[counter] = genres
    return data

In [4]:
print(len(movies_lists))
data = download_list(movies_lists)

1
https://www.imdb.com/search/title/?title_type=feature&primary_language=ar
1.Aladdin
2.Capharnaüm
3.Life of Pi
4.The 13th Warrior
5.Buried
6.Close
7.The Nile Hilton Incident
8.The Physician
9.The Blue Elephant 2
10.Karmouz War
11.Lion of the Desert
12.Much Loved
13.Escape Room
14.The Passage
15.Damascus Cover
16.You Will Die at 20
17.L'insulte
18.Tel Aviv on Fire
19.Omar
20.Down Under
21.The Blue Elephant
22.Et maintenant on va où?
23.The Perfect Candidate
24.Wadjda
25.Sukkar banat
26.El-Kanz: El-Haqiqah wa el-Khayal 1
27.The Treasure 2
28.1982
29.The Worthy
30.Paradise Now
31.Djinn
32.Noura's Dream
33.Hamlet Pheroun
34.Yomeddine
35.Kasablanka
36.Azur et Asmar
37.Eshtebak
38.Mosul
39.Theeb
40.El-Khaliyyah
41.Al-risâlah
42.Welad Rizk 2
43.Bik Eneich: Un Fils
44.Diamond Dust
45.Welad Rizq
46.Khayal Maata
47.Insyriated
48.Le Miracle du Saint Inconnu
49.Kurtlar Vadisi: Irak
50.Adam

In [5]:
len(data)

50

### Saving the data into .csv file

In [8]:
w = csv.writer(open("data.csv", "w"))
for key, val in data.items():
    w.writerow([key, val])

### Preprocessing the data

In [9]:
df = pd.read_csv('data.csv')
df.columns = ['index', 'genres']
df.head()

   index                      genres
0      3                       Drama
1      4   Adventure, Drama, Fantasy
2      5  Action, Adventure, History
3      6    Drama, Mystery, Thriller
4      7            Action, Thriller

In [10]:
# all characters to lower case
df.genres = df.apply(lambda x: x.genres.lower(), axis=1)

In [11]:
# removing all spaces
df.genres = df.apply(lambda x: x.genres.replace(" ", ""), axis=1)

In [12]:
df.head()

   index                    genres
0      3                     drama
1      4   adventure,drama,fantasy
2      5  action,adventure,history
3      6    drama,mystery,thriller
4      7           action,thriller

In [13]:
# save the df
df.to_csv('final.csv', sep=',', index=False)

In [14]:
import pandas as pd
df = pd.read_csv('final.csv')
df.head()

   index                    genres
0      3                     drama
1      4   adventure,drama,fantasy
2      5  action,adventure,history
3      6    drama,mystery,thriller
4      7           action,thriller